body {
    width: 1000px;
    margin-left: 100px;
}
.container {
    display: flex;
  }
  
.col-1 {
    background-color: white;
    flex: 1;
    width: 500px;
}
  
.col-2 {
    background-color: white;
    flex: 1;
    width: 500px;
}
.para1{
    width: 500px;
}
.para2{
    width: 500px;
    margin-left: 150px;
}

#map_chart {
    margin-left: 50px;
}
#pie_chart {
    margin-left: 50px;
}
#bar_chart {
    margin-left: 50px;
}
#bubble_chart {
    margin-top: 50px;
    margin-left: 200px ;
}

.bold {
    font-weight: bold;
}